<div id="<%= dom_id title_aka %>">
  <p>
    <strong>Title:</strong>
    <%= title_aka.title_id %>
  </p>

  <p>
    <strong>Ordering:</strong>
    <%= title_aka.ordering %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= title_aka.title %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= title_aka.region %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= title_aka.language %>
  </p>

  <p>
    <strong>Is original title:</strong>
    <%= title_aka.is_original_title %>
  </p>

</div>
