<div id="<%= dom_id title_episode %>">
  <p>
    <strong>Tconst:</strong>
    <%= title_episode.tconst %>
  </p>

  <p>
    <strong>Parent tconst:</strong>
    <%= title_episode.parent_tconst %>
  </p>

  <p>
    <strong>Season number:</strong>
    <%= title_episode.season_number %>
  </p>

  <p>
    <strong>Episode number:</strong>
    <%= title_episode.episode_number %>
  </p>

</div>
