<div id="<%= dom_id title_principal %>">
  <p>
    <strong>Tconst:</strong>
    <%= title_principal.tconst %>
  </p>

  <p>
    <strong>Ordering:</strong>
    <%= title_principal.ordering %>
  </p>

  <p>
    <strong>Nconst:</strong>
    <%= title_principal.nconst %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= title_principal.category %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= title_principal.job %>
  </p>

  <p>
    <strong>Characters:</strong>
    <%= title_principal.characters %>
  </p>

</div>
