<%= form_with(model: title_basic) do |form| %>
  <% if title_basic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(title_basic.errors.count, "error") %> prohibited this title_basic from being saved:</h2>

      <ul>
        <% title_basic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tconst, style: "display: block" %>
    <%= form.number_field :tconst %>
  </div>

  <div>
    <%= form.label :title_type, style: "display: block" %>
    <%= form.text_field :title_type %>
  </div>

  <div>
    <%= form.label :primary_title, style: "display: block" %>
    <%= form.text_field :primary_title %>
  </div>

  <div>
    <%= form.label :original_title, style: "display: block" %>
    <%= form.text_field :original_title %>
  </div>

  <div>
    <%= form.label :is_adult, style: "display: block" %>
    <%= form.check_box :is_adult %>
  </div>

  <div>
    <%= form.label :start_year, style: "display: block" %>
    <%= form.number_field :start_year %>
  </div>

  <div>
    <%= form.label :end_year, style: "display: block" %>
    <%= form.number_field :end_year %>
  </div>

  <div>
    <%= form.label :runtime_minutes, style: "display: block" %>
    <%= form.number_field :runtime_minutes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
