<div id="<%= dom_id name_basic %>">
  <p>
    <strong>Nconst:</strong>
    <%= name_basic.nconst %>
  </p>

  <p>
    <strong>Primary name:</strong>
    <%= name_basic.primary_name %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= name_basic.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= name_basic.death_year %>
  </p>

</div>
